@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
	--color-kockac: #ef263e;
	--color-pikofyz: #f68712;
	--color-pikomat: #00adef;
	--color-secondary: #5b5b5b;

	--color-warning: #ffcc00;
	--color-warning-light: #fff4cc;
	--color-warning-dark: #cc9900;

	--color-success: #28a745;
	--color-success-light: #d4edda;
	--color-success-dark: #1e7e34;

	--color-error: #dc3545;
	--color-error-light: #f8d7da;
	--color-error-dark: #bd2130;

	--color-info: #2f58dc;
	--color-info-light: #d1e2ff;
	--color-info-dark: #1a3bb8;
}

.visual {
	@apply text-secondary flex flex-col gap-y-10 uppercase;

	.row {
		@apply flex grow gap-x-8;
	}

	.col {
	}

	.label {
		@apply text-3xl font-light;
	}

	.value {
		@apply text-6xl font-black;
	}
}

.navbar-btn {
	@apply cursor-pointer rounded px-4 py-2 transition-colors duration-200 hover:bg-black/20;

	&.active {
		@apply bg-black/20;
	}
}

.btn {
	@apply cursor-pointer rounded border px-4 py-2 transition-all duration-200;

	&.disabled,
	&[disabled] {
		@apply cursor-not-allowed opacity-50;
	}
}

.btn-secondary {
	@apply text-secondary border-secondary bg-white;
}

.btn-secondary:not(.disabled):not([disabled]) {
	@apply hover:bg-secondary hover:text-white;
}

.btn-info {
	@apply bg-info-light text-info border-info;
}

.btn-info:not(.disabled):not([disabled]) {
	@apply hover:bg-info hover:text-white;
}

.btn-success {
	@apply bg-success-light text-success border-success;
}

.btn-success:not(.disabled):not([disabled]) {
	@apply hover:bg-success hover:text-white;
}

.btn-warning {
	@apply bg-warning-light text-warning border-warning;
}

.btn-warning:not(.disabled):not([disabled]) {
	@apply hover:bg-warning hover:text-white;
}

.btn-error {
	@apply bg-error-light text-error border-error;
}

.btn-error:not(.disabled) {
	@apply hover:bg-error hover:text-white;
}

.sound-selector-block {
	@apply flex flex-col items-center justify-center gap-2 rounded border p-4 shadow;
}

.ea-top-btn {
	@apply cursor-pointer rounded-full p-1 transition-all enabled:hover:bg-gray-100 disabled:cursor-not-allowed disabled:opacity-50;
}

.overlay {
	@apply fixed inset-0 z-20 flex items-center justify-center bg-black/40;
}
