@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import './forms.css';

@theme {
	--color-kockac: #ef263e;
	--color-pikofyz: #f68712;
	--color-pikomat: #00adef;
	--color-secondary: #5b5b5b;

	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(98% 0 0);
	--color-base-300: oklch(95% 0 0);
	--color-base-content: oklch(21% 0.006 285.885);
	--color-light-content: oklch(50% 0.01 290.123);

	--color-warning: #ffcc00;
	--color-warning-bg: #fff4cc;

	--color-success: #28a745;
	--color-success-bg: #d4edda;

	--color-error: #dc3545;
	--color-error-bg: #f8d7da;

	--color-info: #2f58dc;
	--color-info-bg: #d1e2ff;
}

@theme dark {
	--color-base-100: oklch(25.33% 0.016 252.42);
	--color-base-200: oklch(23.26% 0.014 253.1);
	--color-base-300: oklch(21.15% 0.012 254.09);
	--color-base-content: oklch(97.807% 0.029 256.847);
	--color-light-content: oklch(60% 0.02 260);

	--color-info: #2453ee;
	--color-info-bg: #1a2a4d;
	--color-success: #2cca51;
	--color-success-bg: #1f3d26;
	--color-warning: #dba100;
	--color-warning-bg: #4d3a1a;
	--color-error: #d01121;
	--color-error-bg: #4d1a1c;
}

.visual {
	@apply text-secondary flex flex-col gap-y-10 uppercase;

	.row {
		@apply flex grow gap-x-10;
	}

	.col {
	}

	.label {
		@apply text-3xl font-light;
	}

	.value {
		@apply text-6xl font-black;
	}
}

.navbar-btn {
	@apply cursor-pointer rounded px-4 py-2 transition-colors duration-200 hover:bg-black/20;

	&.active {
		@apply bg-black/20;
	}
}

.btn {
	@apply cursor-pointer rounded border px-4 py-2 transition-all duration-200 disabled:cursor-not-allowed disabled:opacity-50;
}

.btn-secondary {
	@apply text-base-content border-base-content enabled:hover:bg-base-content enabled:hover:text-base-300 bg-base-300;
}

.btn-info {
	@apply bg-info-bg text-info border-info enabled:hover:bg-info enabled:hover:text-base-content;
}

.btn-success {
	@apply bg-success-bg text-success border-success enabled:hover:bg-success enabled:hover:text-base-content;
}

.btn-warning {
	@apply bg-warning-bg text-warning border-warning enabled:hover:bg-warning enabled:hover:text-base-content;
}

.btn-error {
	@apply bg-error-bg text-error border-error enabled:hover:bg-error enabled:hover:text-base-content;
}

.sound-selector-block {
	@apply flex flex-col items-center justify-center gap-2 rounded border p-4 shadow;
}

.ea-top-btn {
	@apply enabled:hover:bg-base-300 cursor-pointer rounded-full p-2 transition-all disabled:cursor-not-allowed disabled:opacity-50;
}
