input[type='text'],
input:not([type]),
input[type='email'],
input[type='url'],
input[type='password'],
input[type='number'],
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='week'],
select[multiple],
textarea,
select,
.form-input {
	@apply bg-base-200 border-light-content appearance-none rounded border px-3 py-2 leading-6;
}

select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='oklch(55.1%25 0.027 264.364)' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
	background-position: right 0.5rem center;
	background-repeat: no-repeat;
	background-size: 1.5em 1.5em;
	padding-right: 2.5rem;
	print-color-adjust: exact;
}

input[type='file'] {
	@apply bg-base-200 border-light-content inline-flex cursor-pointer appearance-none items-center rounded border align-middle select-none;
	@apply pr-2 text-sm leading-8;

	width: clamp(3rem, 20rem, 100%);

	&::file-selector-button {
		@apply bg-base-300 me-4 inline-flex h-full cursor-pointer appearance-none items-center rounded px-4 font-semibold select-none;
	}

	/* &:focus {
		--input-color: var(--color-base-content);
		box-shadow: 0 1px color-mix(in oklab, var(--input-color) 10%, #0000);
		outline: 2px solid var(--input-color);
		outline-offset: 2px;
		isolation: isolate;
	} */
	&:disabled,
	&[disabled] {
		@apply border-base-200 bg-base-200 placeholder-base-content placeholder-base-content/20 cursor-not-allowed;
		box-shadow: none;
		color: color-mix(in oklch, var(--color-base-content) 20%, #0000);

		&::file-selector-button {
			@apply border-base-200 bg-base-200 cursor-not-allowed;
			--btn-border: #0000;
			--btn-noise: none;
			--btn-fg: color-mix(in oklch, var(--color-base-content) 20%, #0000);
		}
	}
}

input[type='checkbox'],
input[type='radio'] {
	appearance: none;
	padding: 0;
	print-color-adjust: exact;
	display: inline-block;
	vertical-align: middle;
	background-origin: border-box;
	user-select: none;
	flex-shrink: 0;
	height: 1rem;
	width: 1rem;
	color: oklch(54.6% 0.245 262.881);
	background-color: #fff;
	border-color: oklch(55.1% 0.027 264.364);
	border-width: 1px;
	--tw-shadow: 0 0 #0000;
}
input[type='checkbox']:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
input[type='checkbox']:checked,
input[type='radio']:checked {
	border-color: transparent;
	background-color: currentColor;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

input[type='checkbox'] {
	@apply rounded-sm;
}
input[type='radio'] {
	@apply rounded-full;
}
